@charset "utf-8";
/* CSS Document */

html, body{
    margin: 0;
}

.footer{
    position: relative;
    width: 100%;
    height: 200px;
    background-color: darkslateblue;
    display: flex;
    justify-content: space-evenly;
    
}

.footerg{
    margin-left:50px;
    position: relative;
    height: 100%;
    float: left;
    width: 40%;
    
}

.footerd{
    margin-right: 50px;
    position: relative;
    float: right;
    width: 40%;
    height: 100%;
   
    
}

.lien, ul, li{
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

.lien{
    color: white;
    margin-left: 50px;
}

.lien:hover{
    color: purple;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-left : 50px;
}

.topsection{
    height: 250px;
    width: 100%;
    background-color: skyblue;
    text-align: center;

}

.topsection h1 {
    padding-top: 10px;
    color: steelblue;
    font-weight: bolder;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.topsection a{
    color: steelblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.topsection a:hover{
    color: white;
    background-color: steelblue;
}

.topsection h3{
    color: white;
    font-weight: lighter;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}