@charset "utf-8";
/* CSS Document */

html, body{
    margin: 0;
}

.footer{
    position: relative;
    width: 100%;
    height: 200px;
    background-color: darkslateblue;
    display: flex;
    justify-content: space-evenly;
    
}

.footerg{
    margin-left:50px;
    position: relative;
    height: 100%;
    float: left;
    width: 40%;
    
}

.footerd{
    margin-right: 50px;
    position: relative;
    float: right;
    width: 40%;
    height: 100%;
   
    
}

.lien, ul, li{
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

.lien{
    color: white;
    margin-left: 50px;
}

.lien:hover{
    color: purple;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-left : 50px;
}